<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".yaml" mimeType="application/x-yaml" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <httpProtocol>
          <customHeaders>
            <add name="Arr-Disable-Session-Affinity" value="true"/>
            <add name="x-content-type-options" value="nosniff"/>
          </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>