<div class="modal-header">
  <h3 class="modal-title">Prompt</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>You could generate codes in <a target="_blank" href = "http://editor.swagger.io/">Swagger Service</a> by yourself with the following spec:<br><br>
    <textarea id="prompt-swaggerspec" class="form-control" cols="30" rows="10" readonly>{{swaggerSpec}}</textarea>
    <br><br>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="copy()">Copy Spec</button>
    <a class="btn btn-primary" download="swagger.yaml" data-downloadurl="{{yamlDownloadUrl}}"
            href="{{yamlDownloadHref}}" tabindex="-1"><span>Download Spec</span></a>
</div>
